<!DOCTYPE html>
<html>
  <head>
    <title>Homuhomu</title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <center>
        <div class="hero-unit">
          <h1>pre-Nekova.org</h1> 
          <p>I'm <%= link_to 'nekova', about_path %>.</p>            
          <div class="btn-group">
            <a class="btn btn-large" <%= link_to 'Link', link_path,{:disabled => request.fullpath == link_path} %></a>
          </div>
          <div class="btn-group">
            <a class="btn btn-large" <%= link_to 'Make', make_path,{:disabled => request.fullpath == make_path} %></a>
          </div>
        </center>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
